name: Bun Build on Windows to Exe
on:
  push:
    branches:
      - main
jobs:
    build:
        runs-on: windows-latest
        steps:
        - uses: actions/checkout@v4
        
        - name: Bun Install
          uses: oven-sh/setup-bun@v1
        - run: bun install
        - name: Bun Build
          run: bun run build_win
        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
            name: SFMR.exe
            path: dist/SFMR.exe


        

       
       

            

